<h1 class="page-header text-center">All users</h1>

<table class="table">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Actions</th>
	</tr>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= link_to "Edit", edit_user_path(user.id) %>
					<%= link_to "Delete", user_path(user.id), method: "delete" %>
			</td>
		</tr>
	<% end %>
</table>
