<%= form_for message, url: message_path(message) do |f| %>
	<div class="col-md-6">
		<%= f.collection_select :category_id, Category.all, :id, :title %>
		<br />
		<br />
		<%= f.submit 'Обновить категорию', class: 'btn btn-primary btn-xs' %>
	</div>
<% end %>