<%= form_for message, url: message_path(message) do |f| %>
	<div class="col-md-6">
	<%= f.select(:status,
							options_for_select([['На модерацию', message.status = 'for_moderation'],
																	['Выполнено', message.status = 'done'],
																	['Актуально', message.status = 'actual'],
																	['Не релевантно', message.status = 'not_relevant']])
							) %>
	</div>
	<div class="col-md-6">
	<%= f.submit 'Обновить статус', class: 'btn btn-primary btn-xs' %>
	</div><br>
<% end %>
