<h1>Категории</h1>
<table class="table">
	<tr>
		<th>Название</th>
		<th>Действия</th>
	</tr>

	<% @categories.each do |category| %>
		<tr>
			<td><%= link_to category.title, category_path(id: category.id, status: 'all'), id: "category_#{category.id}" %></td>
			<td><%= link_to 'Архивировать', archiving_category_path(category), method: :post, id: "archiving_category_#{category.id}" %></td>
			<td><%= link_to 'Обновить', edit_category_path(category), class: 'update', id: "edit_category_#{category.id}" %></td>
		</tr>
	<% end %>

</table>

<p><%= link_to "Добавить новую категорию", new_category_path, class: "btn btn-success" %></p>
<p><%= link_to "Показать архивные категории", archived_categories_path %></p>
