<script src="//maps.google.com/maps/api/js?key=AIzaSyBRkajFk38d_24oT0mo8rkMWb1_fJHSMW8"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
<div class="row">
  <div class="col-md-12">
    <h2>
      <%= @title %>
    </h2>
    <hr />
  </div>
  <div class="col-md-6">
    <% @messages.each_with_index do |message, index| %>
      <div class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-<%= panel_type(message) %>">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" href="#collapse<%= index.to_s %>" aria-expanded="true" aria-controls="collapse<%= index.to_s %>">
                <%= truncate(message.body, :length => 50) %>
              </a>
            </h4>
          </div>
          <div id="collapse<%= index.to_s %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <h3>
                    <p> <b> Описание: </b> </p>
                    <p> <%= message.body %>  </p>
                    <hr>
                  </h3>
                  <div class="row">
                    <div class="col-md-6">
                      <h3>
                        <p>Статус:
                          <b> <%= message.status %></b></p>
                        <p>Категория:
                          <b><%= message.category.title %></b></p>
                      </h3>
                    </div>
                    <div class="col-md-6">
                      <br>
                      <%= render partial: 'messages/change_status', locals: { message: message } %>
                      <br>
                      <%= render partial: 'messages/change_category', locals: { message: message } %>
                    </div>
                  </div>
                  <% message.images.each do |image| %>
                    <hr>
                    <%= link_to image_tag(image.image_url(:medium), class: 'problem_image img-rounded' ), "#modal-#{image.id}", "data-toggle" => "modal" %>
                    <div id="modal-<%= image.id %>" class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><%= truncate(message.body, :length => 50) %></h4>
                          </div>
                          <div class="modal-body">
                            <%= image_tag(image.image_url(:actual)) %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <hr>
                  <%= link_to 'Удалить сообщение', archiving_messages_path(message), method: :post, class: 'btn btn-danger' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <div style='width: 585px; position: fixed;'>
      <div class="btn-group btn-group-justified">
        <%= link_to "New", category_path(id: @category.id, status: 'new_message'), class: "btn btn-info" %>
        <%= link_to "Done", category_path(id: @category.id, status: 'done'), class: "btn btn-success" %>
        <%= link_to "All", category_path(id: @category.id, status: 'all'), class: "btn btn-primary" %>
        <%= link_to "Actual", category_path(id: @category.id, status: 'actual'), class: "btn btn-warning" %>
        <%= link_to "Not Relevant", category_path(id: @category.id, status: 'not_relevant'), class: "btn btn-default" %>
      </div>
      <hr>
      <div id="map" style='width: 585px; height: 450px;'></div>
    </div>
  </div>

</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {mapTypeId: 'hybrid'}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>

